{
    "friendlist.search": "Zoek vrienden",
    "widget.chooser.checkall": "Selecteer meubels",
    "widget.chooser.btn.pickall": "pak de geselecteerde items op!",
    "wiredfurni.params.requireall.2": "Als een van de geselecteerde furni een avatar heeft",
    "wiredfurni.params.requireall.3": "Als alle geselecteerde furni avatars op hen hebben",
    "widget.settings.general": "Standaard",
    "widget.settings.general.title": "Pas de standaard nitro settings aan",
    "widget.settings.volume": "Volume",
    "widget.settings.interface": "Interface",
    "widget.settings.interface.title": "Pas de settings aan voor de interface",
    "widget.settings.interface.fps.automatic": "Zet FPS naar unlimited",
    "widget.settings.interface.fps.warning": "Het zetten van FPS naar unlimited kan prestatie problemen veroorzaken!",
    "widget.settings.interface.secondary": "Verander de window header kleur",
    "widget.settings.interface.reset": "Reset header kleur naar default",
    "widget.room.chat.hide_pets": "Verberg dieren",
    "widget.room.chat.hide_avatars": "Verberg avatars",
    "widget.room.chat.hide_balloon": "Verberg Spreekballon",
    "widget.room.chat.show_balloon": "Spreekballon",
    "widget.room.chat.clear_history": "leeg geschiedenis",
    "widget.room.youtube.shared": "YouTube word gedeeld",
    "widget.room.youtube.open_video": "Open de video",
    "wiredfurni.params.area_selection.selected": "Geselecteerd gebied: Lengte=%x%, Breedte=%y%, breedte=%w%, hoogte=%h%",
    "wiredfurni.params.sources.users.11": "L'utente cliccato",
    "wiredfurni.params.setexecutions": "QuantitÃƒÂ  di esecuzioni: %amount%",
    "wiredfurni.params.settimewindow": "Tempo massimo consentito: %timewindow% secondi",
    "wiredfurni.params.eval_mode": "Condizioni che devono corrispondere:",
    "wiredfurni.params.eval_mode.0": "Tutte",
    "wiredfurni.params.eval_mode.1": "Almeno una",
    "wiredfurni.params.eval_mode.2": "Non tutte",
    "wiredfurni.params.eval_mode.3": "Nessuna",
    "wiredfurni.params.eval_mode.cmp.0": "Meno di:",
    "wiredfurni.params.eval_mode.cmp.1": "Esattamente:",
    "wiredfurni.params.eval_mode.cmp.2": "Più di:",
    "wiredfurni.error.condition_evaluation_furni": "Puoi selezionare solo la Condizione e i componenti aggiuntivi!",
    "wiredfurni.params.texts.placeholder_name": "Nome del segnaposto:",
    "wiredfurni.params.texts.placeholder_preview": "Usalo digitando <font color=\"#ffffaa\">%placeholder%</font> nei testi dei Wired.",
    "wiredfurni.params.texts.placeholder_type": "Tipo di segnaposto:",
    "wiredfurni.params.texts.placeholder_type.1": "Singolo",
    "wiredfurni.params.texts.placeholder_type.2": "Multiplo",
    "wiredfurni.params.texts.select_delimiter": "Seleziona il delimitatore:",
    "widget.memenu.dance1": "Ballo 1",
    "widget.memenu.dance2": "Ballo 2",
    "widget.memenu.dance3": "Ballo 3",
    "widget.memenu.dance4": "Ballo 4",
    "wiredfurni.params.action.sign.0": "Cartello 0",
    "wiredfurni.params.action.sign.1": "Cartello 1",
    "wiredfurni.params.action.sign.2": "Cartello 2",
    "wiredfurni.params.action.sign.3": "Cartello 3",
    "wiredfurni.params.action.sign.4": "Cartello 4",
    "wiredfurni.params.action.sign.5": "Cartello 5",
    "wiredfurni.params.action.sign.6": "Cartello 6",
    "wiredfurni.params.action.sign.7": "Cartello 7",
    "wiredfurni.params.action.sign.8": "Cartello 8",
    "wiredfurni.params.action.sign.9": "Cartello 9",
    "wiredfurni.params.action.sign.10": "Cartello 10",
    "wiredfurni.params.action.sign.11": "Cartello 11",
    "wiredfurni.params.action.sign.12": "Cartello 12",
    "wiredfurni.params.action.sign.13": "Cartello 13",
    "wiredfurni.params.action.sign.14": "Cartello 14",
    "wiredfurni.params.action.sign.15": "Cartello 15",
    "wiredfurni.params.action.sign.16": "Cartello 16",
    "wiredfurni.params.action.sign.17": "Cartello 17"
}
