.hotelview {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 1185px, #51841E 1185px);
}

.hotelview-background {
    position: relative;
    margin-left: -400px;
    margin-top: 0;
    top: 0px;
    left: 0px;
    height: 1185px;
    width: 3000px;
    pointer-events: none;
    background-image: url(@/assets/images/hotelview/hotelview.png);
    background-repeat: no-repeat;
}

.nitro-hotel-view {
    display: block;
    position: fixed;
    width: 100%;
    height: calc(100% - 55px);
    background: #000;
    color: #000;
    box-shadow: 0px 55px 0px 0px #51841E;
    z-index: 0;
}

.nitro-hotel-view-rooftop {
    background-image: url(@/assets/images/hotelview/rooftop.gif);
    background-repeat: no-repeat;
    width: 120px;
    height: 164px;
    position: absolute;
    top: calc(52px + 40px);
    left: calc(1062px - 90px);
    cursor: pointer;

    .arrow {
        width: 30px;
        height: 42px;
        position: absolute;
        background-image: url(@/assets/images/hotelview/arrow_down.png);
        background-repeat: no-repeat;
        left: 39px;
        top: 15px;
        display: none;
        animation: MoveUpDown 1s linear infinite;
        z-index: 9999;
    }

    &:hover {
        -webkit-filter: drop-shadow(1px 3px 20px #000000);
        .arrow {
            display: block;
        }
    }
}

.nitro-hotel-view-rooftop-pool {
    background-image: url(@/assets/images/hotelview/rooftop_pool.gif);
    background-repeat: no-repeat;
    width: 183px;
    height: 164px;
    position: absolute;
    top: calc(272px + 40px);
    left: calc(1324px - 200px);
    cursor: pointer;

    .arrow {
        width: 30px;
        height: 42px;
        position: absolute;
        background-image: url(@/assets/images/hotelview/arrow_down.png);
        background-repeat: no-repeat;
        left: 75px;
        top: 0px;
        display: none;
        animation: MoveUpDown 1s linear infinite;
        z-index: 9999;
    }

    &:hover {
        -webkit-filter: drop-shadow(1px 3px 20px #000000);
        .arrow {
            display: block;
        }
    }
}

.nitro-hotel-view-lobby {
    background-image: url(@/assets/images/hotelview/lobby.png);
    background-repeat: no-repeat;
    width: 73px;
    height: 65px;
    position: absolute;
    top: calc(597px + 40px);
    left: calc(1264px - 200px);
    cursor: pointer;

    .arrow {
        width: 30px;
        height: 42px;
        position: absolute;
        background-image: url(@/assets/images/hotelview/arrow_down.png);
        background-repeat: no-repeat;
        left: 19px;
        top: 0px;
        display: none;
        animation: MoveUpDown 1s linear infinite;
        z-index: 9999;
    }

    &:hover {
        -webkit-filter: drop-shadow(1px 3px 20px #000000);
        .arrow {
            display: block;
        }
    }
}

.nitro-hotel-view-picnic {
    background-image: url(@/assets/images/hotelview/picnic.gif);
    background-repeat: no-repeat;
    width: 575px;
    height: 436px;
    position: absolute;
    top: calc(240px + 248px);
    left: calc(889px - 412px);
    cursor: pointer;

    .arrow {
        width: 30px;
        height: 42px;
        position: absolute;
        background-image: url(@/assets/images/hotelview/arrow_down.png);
        background-repeat: no-repeat;
        left: 315px;
        top: 110px;
        display: none;
        animation: MoveUpDown 1s linear infinite;
        z-index: 9999;
    }

    &:hover {
        -webkit-filter: drop-shadow(1px 3px 20px #000000);
        .arrow {
            display: block;
        }
    }
}

.nitro-hotel-view-infobus {
    background-image: url(@/assets/images/hotelview/infobus.gif);
    background-repeat: no-repeat;
    width: 181px;
    height: 175px;
    position: absolute;
    top: calc(92px + 241px);
    left: calc(1690px - 399px);
    cursor: pointer;
    z-index: 5;
    pointer-events: auto;

    .arrow-infobus {
        width: 30px;
        height: 42px;
        position: absolute;
        background-image: url(@/assets/images/hotelview/arrow_down.png);
        background-repeat: no-repeat;
        left: 60px;
        top: 5px;
        display: none;
        animation: MoveUpDown 1s linear infinite;
        z-index: 9999;
        pointer-events: none;
    }

    &:hover {
        -webkit-filter: drop-shadow(1px 3px 20px #000000);
        .arrow-infobus {
            display: block;
        }
    }
}

.nitro-hotel-view-peaceful {
    background-image: url(@/assets/images/hotelview/peacefulpark.gif);
    background-repeat: no-repeat;
    width: 384px;
    height: 269px;
    position: absolute;
    top: calc(119px + 240px);
    left: calc(1728px - 400px);
    cursor: pointer;
    z-index: 6;
    pointer-events: none;

    &::before {
        content: '';
        position: absolute;
        top: 10%;
        left: 38%;
        width: 60%;
        height: 65%;
        pointer-events: auto;
        z-index: 8;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 50%;
        height: 50%;
        pointer-events: auto;
        z-index: 8;
    }

    .arrow-peaceful {
        width: 30px;
        height: 42px;
        position: absolute;
        background-image: url(@/assets/images/hotelview/arrow_down.png);
        background-repeat: no-repeat;
        left: 250px;
        top: 100px;
        display: none;
        animation: MoveUpDown 1s linear infinite;
        z-index: 9999;
        pointer-events: none;
    }

    &:hover {
        -webkit-filter: drop-shadow(1px 3px 20px #000000);
        .arrow-peaceful {
            display: block;
        }
    }
}

.nitro-hotel-view-pool {
    background-image: url(@/assets/images/hotelview/pool.gif);
    background-repeat: no-repeat;
    width: 433px;
    height: 361px;
    position: absolute;
    top: calc(237px + 240px);
    left: calc(1633px - 400px);
    cursor: pointer;
    z-index: 7;
    pointer-events: none;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 50%;
        pointer-events: auto;
        z-index: 8;
    }

    .arrow-pool {
        width: 30px;
        height: 42px;
        position: absolute;
        background-image: url(@/assets/images/hotelview/arrow_down.png);
        background-repeat: no-repeat;
        left: 195px;
        top: 250px;
        display: none;
        animation: MoveUpDown 1s linear infinite;
        z-index: 9999;
        pointer-events: none;
    }

    &:hover {
        -webkit-filter: drop-shadow(1px 3px 20px #000000);
        .arrow-pool {
            display: block;
        }
    }
}

@keyframes MoveUpDown {
    0%, 100% {
        top: 1px;
    }
    50% {
        top: 10px;
    }
}

@media only screen and (min-width: 1700px) {
    .left {
        left: 18vw !important;
    }
}

@media only screen and (min-width: 2000px) {
    .left {
        left: 23vw !important;
    }
}

@media only screen and (min-width: 2500px) {
    .left {
        left: 28% !important;
    }
}

/* ─── Time-of-day overrides ────────────────────────────────────────────────
   The class hotel-{period} is stamped on .nitro-hotel-view by HotelView.tsx.
   Controlled by timezone.settings in renderer-config.json.
   Periods: morning (06-09) | day (10-16) | sunset (17-19) | evening (20-23) | night (00-05)
─────────────────────────────────────────────────────────────────────────── */

/* Morning: orange-tinted building, warm sky */
.hotel-morning {
    box-shadow: 0px 55px 0px 0px #E67451;
}
.hotel-morning .hotelview-background {
    background-image: url(@/assets/images/hotelview/hotelview-morning.png);
}

/* Day: default — no overrides needed, base styles already use day assets */

/* Sunset: warm orange sky + amber-earth ground */
.hotel-sunset {
    box-shadow: 0px 55px 0px 0px #D4651A;
}
.hotel-sunset .hotelview {
    background: linear-gradient(to bottom, transparent 1185px, #353B31 1185px);
}
.hotel-sunset .hotelview-background {
    background-image: url(@/assets/images/hotelview/hotelview-sunset.png);
}

/* ─── Sunset widget dimming via ::before pseudo-element ─────────────────────
   We cannot use opacity on the parent because it would also dim the arrow.
   Instead we hide the original background-image and redraw it at 0.1 opacity
   on a ::before layer, leaving the arrow child at full opacity.
─────────────────────────────────────────────────────────────────────────── */

.hotel-sunset .nitro-hotel-view-rooftop,
.hotel-sunset .nitro-hotel-view-rooftop-pool,
.hotel-sunset .nitro-hotel-view-lobby,
.hotel-sunset .nitro-hotel-view-picnic,
.hotel-sunset .nitro-hotel-view-infobus,
.hotel-sunset .nitro-hotel-view-peaceful,
.hotel-sunset .nitro-hotel-view-pool {
    background-image: none !important;
}

.hotel-sunset .nitro-hotel-view-rooftop::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(@/assets/images/hotelview/rooftop.gif);
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: 0;
    pointer-events: none;
}

.hotel-sunset .nitro-hotel-view-rooftop-pool::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(@/assets/images/hotelview/rooftop_pool.gif);
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: 0;
    pointer-events: none;
}

.hotel-sunset .nitro-hotel-view-lobby::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(@/assets/images/hotelview/lobby.png);
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: 0;
    pointer-events: none;
}

.hotel-sunset .nitro-hotel-view-picnic::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(@/assets/images/hotelview/picnic.gif);
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: 0;
    pointer-events: none;
}

.hotel-sunset .nitro-hotel-view-infobus::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(@/assets/images/hotelview/infobus.gif);
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: 0;
    pointer-events: none;
}

.hotel-sunset .nitro-hotel-view-peaceful::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(@/assets/images/hotelview/peacefulpark.gif);
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: 0;
    pointer-events: none;
}

.hotel-sunset .nitro-hotel-view-pool::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(@/assets/images/hotelview/pool.gif);
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: 0;
    pointer-events: none;
}

/* Evening: night building, dark teal sky + ground */
.hotel-evening {
    box-shadow: 0px 55px 0px 0px #163635;
}
.hotel-evening .hotelview {
    background: linear-gradient(to bottom, transparent 1185px, #163635 1185px);
}
.hotel-evening .hotelview-background {
    background-image: url(@/assets/images/hotelview/hotelview-night.png);
}

/* Night: night building, dark teal sky + ground */
.hotel-night {
    box-shadow: 0px 55px 0px 0px #163635;
}
.hotel-night .hotelview {
    background: linear-gradient(to bottom, transparent 1185px, #163635 1185px);
}
.hotel-night .hotelview-background {
    background-image: url(@/assets/images/hotelview/hotelview-night.png);
}

/* ─── Night / Evening room-widget sprite swaps ─────────────────────────── */

.hotel-evening .nitro-hotel-view-rooftop,
.hotel-night .nitro-hotel-view-rooftop {
    background-image: url(@/assets/images/hotelview/night/night-rooftop.png);
}

.hotel-evening .nitro-hotel-view-rooftop-pool,
.hotel-night .nitro-hotel-view-rooftop-pool {
    background-image: url(@/assets/images/hotelview/night/night-rooftop_pool.gif);
}

.hotel-evening .nitro-hotel-view-picnic,
.hotel-night .nitro-hotel-view-picnic {
    background-image: url(@/assets/images/hotelview/night/night-picnic.gif);
}

.hotel-evening .nitro-hotel-view-infobus,
.hotel-night .nitro-hotel-view-infobus {
    background-image: url(@/assets/images/hotelview/night/night-infobus.gif);
}

.hotel-evening .nitro-hotel-view-pool,
.hotel-night .nitro-hotel-view-pool {
    background-image: url(@/assets/images/hotelview/night/night-pool.gif);
}

.hotel-evening .nitro-hotel-view-lobby,
.hotel-night .nitro-hotel-view-lobby {
    background-image: url(@/assets/images/hotelview/night/night-lobby.png);
}

.hotel-evening .nitro-hotel-view-peaceful,
.hotel-night .nitro-hotel-view-peaceful {
    background-image: url(@/assets/images/hotelview/night/night-park.png);
}