:root {
    --inventory-width: 528px;
    --inventory-height: 420px;
}

.nitro-inventory {
    width: var(--inventory-width);
    height: var(--inventory-height);
    min-width: var(--inventory-width);
    min-height: var(--inventory-height);
}

.empty-image {
    background: url("@/assets/images/inventory/empty.png");
    background-repeat: no-repeat;
    width: 129px;
    height: 181px;
}

.trade-button {
    min-height: 0;
    font-size: 8px;
    padding: 1px 2px;
    z-index: 5;
}

.quantity-input {
    width: 49px;
}
